@charset "utf-8";
h2 { color:#fff; }
h3 { color:#646464; }
h4 { color:#323232; }
h5, h6 { color:#323232; }
p { color:#888888; }
.uniqueness *, .creative * { color:#fff; }
.creative span a { color:#0052d9; }
.navigation ul li a { color:#b4b4b4; }
.navigation ul li:hover, .navigation ul li a.active
{
	/*background:#0052d9;
	color:#fff;*/
}

.navigation ul li.about:hover, .navigation ul li about a.active
{
	background:#0052d9;
	color:#fff;
}

.title { background:#0052d9; }

.navigation ul li.services:hover, .navigation ul li services a.active
{
	background:#FF0000;
	color:#fff;
}
.title1 { background:#FF0000; }

.navigation ul li.portfolio:hover, .navigation ul li portfolio a.active
{
	background:#FF9900;
	color:#fff;
}
.title2 { background:#FF9900; }
.navigation ul li.our_team:hover, .navigation ul li our_team a.active
{
	background:#009900;
	color:#fff;
}
.title3 { background:#009900; }
.navigation ul li.blog:hover, .navigation ul li blog a.active
{
	background:#CC0099;
	color:#fff;
}
.title5 { background:#66CC00; }
.navigation ul li.contact:hover, .navigation ul li contact a.active
{
	background:#CC0099;
	color:#fff;
}
.title4 { background:#CC0099; }

.navigation ul li:hover a small, .navigation ul li a.active small { color:#fff; }
.navigation ul li:hover a span, .navigation ul li a.active span { color:#fff; }
/*.title { background:#3c3c3c; }*/
.flex-direction-nav a {background-color:#0052D9;}
.point ul li { color:#888888; }
.side-navigation ul li a
{
	color:#fff;
	background:#969696;
}
.side-navigation ul li a:hover, .side-navigation ul li a.selected { background:#009900; }
#second .col:hover { background:#0052d9; }
#second .col:hover * { color:#fff; }
#second .details .col:hover * { color:#888888; }
.scrollbar1 .thumb { background:#0052d9; }
.pagination ul li a { background:#969696; }
.pagination ul li a.active { background:#0052D9; }
.pagination ul li a:hover { background:#646464; }
.pagination ul li.prev-btn a, .pagination ul li.next-btn a { background-color:#969696;}
.pagination ul li.prev-btn a:hover, .pagination ul li.next-btn a:hover { background-color:#646464;}
.intro { background:#fff;}
.intro:hover { background:#0052d9;}
.intro:hover * { color:#fff !important;}
.gallery ul li a img.light2 {background:#0052d9;}
#team .member span { color:#0052d9; }
.blog-comment h6 a { color:#323232; }
.blog-comment h6 a:hover { color:#0052d9; }
div.jp-play-bar, div.jp-volume-bar-value {background:#0052d9 !important;}
.box.col-1 { background:#fff; }
.box.col-1.post, .box.col-1 .blogpost { background:#141414; }
.blog-comment span { color:#888888; }
.blog-comment h6 a { color:#323232; }
.blog-comment h6 a:hover { color:#0052d9; }
.comment-like a { color:#888888; }
#container { background: #EBEBEB; }
#infscr-loading
{
	background: #0052d9;
	color: #FFF;
}
#Contact address ul li { color:#888888; }
.contact-title small { color: #888888; }
.footer { background:#141414; }
.footer-section span { color:#5a5c5c; }
.footer-section span a { color:#0052d9; }
.footer-section nav { color:#5a5c5c; }
.footer-section nav ul li { color:#5a5c5c; }
.footer-section nav ul li a
{
	color:#5a5c5c;
	color:#5a5c5c;
}
.footer-section a:hover { color:#0052d9; }
#infscr-loading
{
	background: #0052d9;
	color: #FFF;
}
ul#portfolio-filter a:hover, ul#portfolio-filter a.current { color: #fff; }
ul#portfolio-filter a.current { background-color: #0052D9; }
ul#portfolio-list li p { color: #AAA; }
.scrollbar1 .thumb { background:#0052d9; }
.contentssss { background:#333; }
.overlay-wrap { background:#000; }
#blog-second .col-1 { background:#fff; }

input[type="submit"] {background-color:#0052D9;}