@charset "utf-8";
/*==================================================
 Eric Meyer's Global CSS Reset
 ==================================================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
body {
	line-height:1;
	font-family:"Champagne & Limousines"; 'PT Sans', sans-serif;
	font-size:62.5%;
	background:#ebebeb;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}
:focus {
 outline:none;
}
ins {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
a{ text-decoration:none;}
p{font-size:1.3em;line-height:1.4; color:#888888; display:block; margin-bottom:10px; }
h1{ /*font-size:6em; line-height:1.2; color:#fff;   font-family:"Champagne & Limousines"; 'open_sans_lightregular', sans-serif;  text-transform:uppercase;padding-bottom:10px;*/
color: #FFFFFF;
font-family:"Champagne & Limousines";
font-size: 19px;
line-height: 2.2;
margin-bottom: 160px;
text-align: center;
text-transform: uppercase;
width: 690px;
font-weight:bold;
}
h2{ font-size:3.4em; line-height:1.2; color:#fff;   font-family:"Champagne & Limousines"; 'open_sans_lightregular', sans-serif; text-align:right; display:table-cell; vertical-align:middle;}
h3{ line-height:1.2; font-size:16px; color:#000000; font-weight:bold; margin-bottom:10px; font-family:"Champagne & Limousines";}
h4{ font-size:1.6em;  line-height:1.4;color:#323232; font-weight:500; display:table-cell; vertical-align:middle; font-family:"Champagne & Limousines";}
h5{color: #000000;font-size:14px;line-height:1.4; font-family:"Champagne & Limousines"; font-weight:bold;}
h6{ font-size:1.4em;line-height:1.4; color:#323232; margin-bottom:10px; font-family:"Champagne & Limousines";}

input[type="text"] {
	width:93%;
	border:1px solid #000000;
	background:#fafafa;
	padding:9px 10px;
}

textarea {
	width:97%;
	height:180px;
	border:1px solid #000000;
	background:#fafafa;
	padding:10px;
}
#Contact textarea{width:97.6%;}

label {
	font-size:1.3em;
	color:#888888;
	display:inline-block;
	margin-bottom:8px;
}

input[type="submit"] {
	float:right;
	width:59px;
	height:59px;
	border:none;
	display:block;
	line-height:0;
	text-indent:-9999px;
	cursor:pointer;
	border-left:1px solid #fff;

	background-color:#0052d9;
	background-image:url(../images/next-btn.png);
	background-position:center center;
	background-repeat:no-repeat;
}
sup {color:#ff3333;
font-size: 1.8em;
position: relative;
top: 3px;}

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

@font-face {
    font-family:"Champagne & Limousines"; 'open_sans_lightregular';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sans_lightregular') format('svg');
}